---
import Card from './Card.astro';
---

<section class="mt-30">
    <h1 class="text-4xl text-center mb-10">Beneficios de FocusFlow</h1>
    <div class="flex gap-10 py-5 px-5 justify-center">
        <Card title="Ahorra tiempo" content="Automatiza tareas repetitivas para ahorrar tiempo. Enfócate en lo que realmente importa." />
        <Card title="Organiza tu flujo de trabajo" content="Nuestro asistente de IA inteligente te ayuda a organizar tu flujo de trabajo. Prioriza tareas y alcanza tus objetivos más rápido." />
        <Card title="Mejora tu productividad" content="Automatiza tareas repetitivas y reduce el ruido mental. Nuestro asistente te ayuda a priorizar y alcanzar metas más rápido." />
    </div>
</section>