---
import Card from './Card.astro';
---

<section>
    <h1>Beneficios de FocusFlow</h1>
    <div>
        <Card title="Ahorra tiempo" content="Automatiza tareas repetitivas y enfócate en lo que realmente importa." />
        <Card title="Organiza tu flujo de trabajo" content="Nuestro asistente de IA inteligente te ayuda a organizar tu flujo de trabajo, priorizar tareas y alcanzar tus objetivos más rápido que nunca." />
        <Card title="Mejora tu productividad" content="Con FocusFlow, automatiza tareas repetitivas y enfócate en lo que realmente importa. Nuestro asistente de IA inteligente te ayuda a organizar tu flujo de trabajo, priorizar tareas y alcanzar tus objetivos más rápido que nunca." />
    </div>
</section>