<header class="bg-[var(--color-bg-main)] opacity-90 fixed top-0 left-0 right-0 z-50 w-full flex items-center justify-between px-8 py-8">
    <img src="/src/assets/logo.png" alt="Imagen de logo" />
    <div class="flex items-center gap-4">
        <button class="pt-2 cursor-pointer" id="theme-toggle" aria-label="Cambiar modo claro/oscuro"><span class="material-symbols-outlined">light_mode</span></button>
        <button class="bg-[var(--color-primary)] cursor-pointer text-white px-4 py-2 rounded-[50px]" aria-label="Comenzar ahora">COMENZAR AHORA</button>
    </div>
</header>