---
import Picture from 'astro/components/Picture.astro';
import images from '../assets/images.ts';
---

<section class="flex w-full mt-10 items-center">
    <div class="px-8 py-16 flex flex-col items-center gap-8 text-center w-1/2">
        <h2 class="text-5xl">“Mejora tu productividad un 40% con IA”</h2>
        <p class="text-xl w-[60%]">Con FocusFlow, automatiza tareas repetitivas y enfócate en lo que realmente importa. Nuestro asistente de IA inteligente te ayuda a organizar tu flujo de trabajo, priorizar tareas y alcanzar tus objetivos más rápido que nunca.</p>
        <div class="flex items-center mt-10 gap-10">
            <button class="bg-[var(--color-primary)] cursor-pointer text-2xl text-white px-6 py-3 rounded-[50px]" aria-label="Comenzar ahora">COMENZAR AHORA</button>
            <button class="border-4 border-[var(--color-border)] cursor-pointer text-2xl text-[var(--color-text-primary)] px-16 py-3 rounded-[50px]" aria-label="Ver demostración">VER DEMO</button>
        </div>
    </div>
    <Picture
            loading="lazy"
            src={images.dashboard}
            alt="Dashboard FocusFlow"
            width={1000}
            height={800}
            widths={[700, 900, 1200, 1600, 2000]}
            sizes={`
            (max-width: 768px) 500px,
            (max-width: 1024px) 900px,
            (max-width: 1280px) 1400px,
            (max-width: 1920px) 1800px,
            `}
            formats={["avif", "webp"]}
            class=""
        />
</section>